@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'mixin';

.site {
    width: 1440px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

main {
    margin: 0 auto;
}

.header {
    width: 1440px;
    height: 700px;
    background-image: url(../pictures/Background1.png);
    margin: 0 auto;
    z-index: 0;
}

.edit {
    &-1 {
        position: relative;
        left: 997px;
        top: 41px;

        &:hover {
            cursor: pointer;
        }
    }

    &-2 {
        border-radius: 40px;
        border: 2px solid white;
        width: 91px;
        text-align: center;
        height: 36px;
        top: 31px;
        left: 437px;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &-1 {
            margin-top: 7px;
        }
    }

    &-3 {
        text-decoration: none;

        font: {
            size: 14px;
            weight: 300;
            family: 'Montserrat', sans-serif;
        }
    }

    &-4 {
        font: {
            size: 20px;
            weight: bold;
            family: 'Montserrat', sans-serif;
            ;
        }

        position: relative;
        right: 1040px;
        top: 35px;
    }

    &-5 {
        width: 180px;
        height: 70px;
        position: relative;
        margin-left: 380px;
        top: -95px;
        &:hover {
            cursor: pointer;
        }
    }

    &-6 {
        letter-spacing:0px;
        font-size: 22px;
    }

    &-7 {
        position: relative;
        top: -12px;
        line-height: 28px;
    }

    &-8 {
        position: relative;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        top: 94px;
        margin-left: 1px;
        color: #666666;
    }

    &-9 {
        @extend .edit-5;
        top: -5px;
        left: -1px;
        width: 180px;
        background-color: #FF4E50;
        border-radius: 40px;
        height: 40px;
        width: 172px;
        margin-left: 310px;

        &:hover {
            border: 2px solid #FF4E50;
            background-color: white;
        }
    }

    &-10 {
        font-size: 14px;
        line-height: 26px;
        color: #999999;
    }
}

.jumbotron {
    position: relative;
    top: 170px;

    &__h1 {
        text-transform: uppercase;
        position: relative;
        top: -4px;

        font: {
            size: 51px;
            family: 'Montserrat', sans-serif;
        }

        letter-spacing: 0px;
    }

    &__h2 {
        @extend .jumbotron__h1;
        top: -35px;
    }

    &__p {
        position: relative;
        top: -37px;
        left: 3px;
        font: {
            size: 24px;
            family: 'Roboto', sans-serif;
            weight: 200;
        }
    }

    .btn-color {
        background-color: #FF4E50;

        font: {
            size: 14px;
            weight: 600;
            family: 'Montserrat', sans-serif;
        }

        color: white;
        border-radius: 40px;
        position: relative;
        top: -23px;
    }

    .btn-lg {
        width: 225px;
        height: 40px;
    }
}

.a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

.work {
    margin: 0 auto;
    width: 940px;
    height: 461px;

    &__h2 {
        font: {
            size: 26px;
            family: 'Montserrat', sans-serif;

        }
        position: relative;
        top: 90px;
    }

    &__image {
        &_1 {
            width: 300px;
            height: 400px;
            background-image: url(../pictures/Step\ 1\ image.png);
            position: relative;
            top: 117px;
        }
        
        &_2 {
            width: 300px;
            height: 400px;
            background-image: url(../pictures/Step\ 2\ image.png);
            position: relative;
            margin-top: -283px;
            margin-left: 320px;
        }

        &_3 {
            width: 300px;
            height: 400px;
            background-image: url(../pictures/Step\ 3\ image.png);
            margin-top: -400px;
            margin-left: 640px;
        }
    }

    &__step {
        &_1 {
            text-transform: uppercase;
            border-radius: 40px;
            width: 70px;
            height: 20px;
            text-align: center;
            background-color: #FF4E50;
            font: {
                size: 10px;
                weight: 300;
                family: 'Montserrat', sans-serif;
            }
            padding-top: 4px;
            letter-spacing: 2px;
            margin-left: 25px;
            position: relative;
            top: 219px;
        }

        &_2 {
            @extend .work__step_1;
            top: 250px;
        }

        &_text1 {
            font: {
                size: 24px;
                weight: bold;
                family: 'Montserrat', sans-serif;
            }
            position: relative;
            display: block;
            margin-left: 25px;
            top: 220px;
            color: #d3d3d3;
            width: 250px;
        }

        &_text2 {
            @extend .work__step_text1;
            top: 194px;
            color: #d3d3d3;
        }

        &_text3 {
            font: {
                size: 14px;
                weight: 100;
                family: 'Roboto', sans-serif;
            }
            margin-left: 25px;
            position: relative;
            display: block;
            width: 300px;
            top: 195px;
            line-height: 15px;
            color: #d3d3d3;
        }

        &_text4 {
            @extend .work__step_text1;
            top: 253px;
        }

        &_text5 {
            @extend .work__step_text3;
            top: 247px;
        }
    }
}

.meet {
    margin: 0 auto;
    width: 941px;
    height: 401px;
    position: relative;
    top: 95px;
    &__h2 {
        @extend .work__h2;
        margin-left: 5px;
    }
    &__bradley {
        width: 120px;
        height: 120px;
        background-image: url(../pictures/Bitmap1.png);
        border-radius: 50%;
        position: relative;
        top: 117px;
        left: 52px;

        &_music {
            width: 40px;
            height: 40px;
            background-color: #FF4E50;
            background-image: url(../pictures/music2.png);
            padding: 5px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            position: relative;
            left: 84px;
            top: 84px;
            border: 4px solid white;
            box-sizing: border-box;
        }

        &_text1 {
            position: relative;
            top: 97px;
            left: 4px;
            font: {
                size: 14px;
                weight: bold;
                family: 'Montserrat', sans-serif;
            }
        }

        &_text2 {
            font: {
                size: 14px;
                weight: 300;
                family: 'Roboto', sans-serif;
            }
            position: relative;
            top: 100px;
            text-align: center;
            left: -55px;
            line-height: 15px;
            color: #666666;
            display: block;
            width: 225px;
        }
    }

    &__marie {
        @extend .meet__bradley;
        background-image: url(../pictures/Bitmap2.png);
        margin-left: 240px;
        top: -3px;

        &_paint {
            @extend .meet__bradley_music;
            background-image: url(../pictures/brush.png);
            background-color: #19D4CA;
        }

        &_text1 {
            @extend .meet__bradley_text1;
            left: 7px;
        }
    }

    &__diana {
        @extend .meet__marie;
        background-image: url(../pictures/Bitmap3.png);
        position: relative;
        margin-left: 480px;
        top: -123px;

        &_camera {
            @extend .meet__bradley_music;
            background-image: url(../pictures/camera.png);
            background-color: #FFA710;
        }

        &_text1 {
            @extend .meet__bradley_text1;
            left: 15px;
        }

        &_text2 {
            @extend .meet__bradley_text2;
            left: -50px;
            top: 100px;
            color: #666666;
        }
    }

    &__cristopher {
        background-image: url(../pictures/Bitmap4.png);
        @extend .meet__diana;
        position: relative;
        margin-left: 720px;
        top: -243px;

        &_plane {
            @extend .meet__bradley_music;
            background-image: url(../pictures/Shape.png);
            background-color: #667DF3;
        }

        &_text1 {
            @extend .meet__bradley_text1;
            left: -8px;
            display: block;
            width: 220px
        }

        &_text2 {
            @extend .meet__bradley_text2;
            top: 100px;
            color: #666666;
        }
    }
}

.discover {
    width: 940px;
    height: 1031px;
    position: relative;
    top: 283px;
    margin: 0 auto;

    &__h2 {
        @extend .meet__h2;
        top: -42px;
        left: -2px;
    }

    &__sport {
        width: 300px;
        height: 310px;
        border-radius: 4px;
        background-image: url(../pictures/Sport.png);
        position: relative;
        left: 0px;
        top: -17px;

        &_text {
            font-family: 'Montserrat', sans-serif;
            display: block;
            position: relative;
            width: 100%;
            height: 20px;
            top: 139px;
            font-size: 22px;
            letter-spacing: 0px;
        }
    }

    &__health {
        @extend .discover__sport;
        background-image: url(../pictures/Healath.png);
        margin-left: 320px;
        top: -327px;
    }

    &__extreme {
        @extend .discover__health;
        background-image: url(../pictures/Extreme.png);
        margin-left: 640px;
        top: -637px;
    }

    &__games {
        @extend .discover__sport;
        background-image: url(../pictures/Games.png);
        top: -617px;
    }

    &__culture {
        @extend .discover__health;
        background-image: url(../pictures/Culture.png);
        width: 620px;
        height: 310px;
        top: -927px;
    }

    &__enjoment {
        @extend .discover__sport;
        background-image: url(../pictures/Culture\ Copy.png);
        width: 620px;
        height: 310px;
        top: -907px;

    }

    &__travel {
        @extend .discover__extreme;
        background-image: url(../pictures/Games\ Copy.png);
        top: -1217px;

    }
}

.search {
    width: 482px;
    height: 158px;
    position: relative;
    top: 280px;
    margin: 0 auto;
    &__h2 {
        font-family: 'Montserrat', sans-serif;;
        position: relative;
        font-size: 26px;
        position: relative;
        top: 55px;
    }
}

.button1 {
    border: 2px solid #FF4E50;
    font: {
        size: 14px;
        weight: 600;
        family: 'Montserrat', sans-serif;
    }
    color: #FF4E50;
    @include padding (9px, 9px, 21px, 20px);
    border-radius: 40px;
    &:hover {
        color: #FF4E50;
    }
    position: relative;
    left: 0px;
}

.button2 {
    @extend .button1;
    border: 0px;
    color: white;
    width: 100px;
    font-size: 14px;
    left: 8px;
    top: 8px;
    &:hover {
        top: 5px;
    }
}

.input {
    width: 299px;
    height: 100px;
    border-radius: 0;
    position: relative;
    left: 0px;
    top: 97px;
    color: #999999;
}


.p {
    width: 300px;
}

.footer {
    width: 1440px;
    margin: 0 auto;
    border-top: 2px solid #FF4E50;
    height: 260px;
    position: relative;
    top: 440px;

    &__text {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: #FF4E50;
        font-size: 16px;
        margin-left: 250px;
        position: relative;
        top: 35px;
    }

    &__text2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;
        margin-left: 491px;
        position: relative;
        top: -3px;
    }

    &__text3 {
        @extend .footer__text2;
        margin-left: 730px;
        top: -40px;
    }

    &__image {
        background-image: url(../pictures/Bitmaplast.png);
        width: 110px;
        height: 24px;
        position: relative;
        margin-left: 1080px;
        top: -57px;
    }

    &__text4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #CCCCCC;
        position: relative;
        margin-left: 1111px;
        letter-spacing: 1px;
        top: -101px;
    }

    &__text5 {
        position: relative;
        top: -102px;
        margin-left: 458px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .site {
        width: 768px;
    }

    .header {
        width: 768px;
        height: 700px;
        background-image: url(../pictures/Background2.png);
    }

    .edit-1 {
        left: 0px;
        top: 40px;
        margin-left: 570px;
    }
    
    .edit-2 {
        left: 0px;
        top: -7px;
        margin-left: 630px;
    }

    .edit-3 {
        font-size: 16px;
    }

    .edit-4 {
        left: 0px;
        top: -30px;
        margin-left: 30px;
    }

    .jumbotron {
        position: relative;
        top: 100px;
    }

    .work {
        width: 748px;
        height: 461px;
    }

    .work__image_1 {
        width: 236px;
        height: 400px;
    }

    .work__step_1 {
        margin-left: 12px;
    }

    .work__step_text1 {
        margin-left: 12px;
    }

    .work__step_text3 {
        margin-left: 0px;
        width: 240px;
    }

    .work__step_text5 {
        margin: 0px;
    }

    .work__image_2 {
        margin-left: 250px;
        width: 236px;
        height: 400px;
    }

    .work__image_3 {
        margin-left: 500px;
        width: 236px;
        height: 400px;
    }

    .meet {
        width: 492px;
        height: 605px;
    }

    .meet__bradley {
        width: 120px;
        height: 120px;
    }

    .meet__bradley_text2 {
        display: block;
        width: 280px;
        font-size: 14px;
        font-weight: 300;
        left: -80px;
    }

    .meet__marie {
        margin-left: 0px;
        top: 275px;
    }

    .meet__diana {
        margin-left: 280px;
        top: -125px;
    }

    .meet__diana_text2 {
        top: 100px;
    }

    .meet__cristopher {
        top: 30px;
    }

    .edit-5 {
        top: 200px;
        margin-left: 165px;
    }
    
    .discover {
        width: 748px;
        height: 1031px;
        top: 400px;
        box-sizing: border-box;
    }
    
    .discover__sport {
        width: 236px;
        height: 310px;
    }

    .discover__health {
        width: 236px;
        height: 310px;
        margin-left: 250px;
    }

    .discover__extreme {
        width: 236px;
        height: 310px;
        margin-left: 500px;
    }

    .discover__culture {
        width: 492px;
        height: 310px;
    }

    .discover__enjoment {
        width: 492px;
        height: 310px;
    }

    .search {
        width: 482px;
        height: 158px;
        top: 400px;
    }

    .edit-8 {
        font-size: 20px;
        font-weight: 400;
        top: 80px;
    }

    .edit-9 {
        top: -5px;
        margin-left: 320px;
    }

    .footer {
        width: 768px;
        height: 224px;
        top: 600px;
    }

    .footer__text {
        margin-left: 50px;
        top: 50px;
    }

    .footer__text2 {
        top: 10px;
        margin-left: 250px;
    }

    .footer__text3 {
        top: -27px;
        margin-left: 450px;
    }

    .footer__image {
        top: -40px;
        margin-left: 600px;
    }

    .footer__text4 {
        display: block;
        width: 100px;
        margin-left: 630px;
        top: -85px;
    }

    .footer__text5 {
        margin-left: 217px;
    }
}

@media screen and (max-width: 320px) {
    .site {
        width: 320px;
    }

    .header {
        width: 300px;
        height: 540px;
        background-image: url(../pictures/Background3.png);
    }
    
    .edit-1 {
        margin-left: 70px;
        top: 20px;
    }

    .edit-2 {
        margin-left: 0px;
        margin-right: 70px;
        top: 10px;
        left: 0px;
    }

    .edit-4 {
        margin-left: 70px;
        top: 110px;
    }

    .jumbotron__h1 {
        font-size: 30px;
    }

    .work {
        width: 300px;
        height: 781px;
    }

    .work__h2 {
        display: block;
        width: 300px;
        font-size: 22px;
        top: 25px;
    }

    .work__image_1 {
        top: 35px;
        width: 300px;
        height: 240px;
        background-image: url(../pictures/Step\ 1\ image1.png)
    }

    .dis {
        position: relative;
        top: -150px;
    }

    .work__step_text1 {
        color: white;
    }

    .work__step_text3 {
        margin-left: 15px;
    }

    .work__image_2 {
        top: 330px;
        margin-left: 0px;
        width: 300px;
        height: 240px;
        background-size: 100%;
        background-image: url(../pictures/Step\ 1\ image2.png);
    }

    .work__image_3 {
        position: relative;
        top: 740px;
        margin-left: 0px;
        width: 300px;
        height: 240px;
        background-image: url(../pictures/Step\ 1\ image3.png);
    }

    .meet {
        width: 300px;
        height: 1000px;
        position: relative;
        top: 50px;
    }

    .meet__bradley {
        margin-left: 100px;
        top: 30px;
        margin-left: 35px;
    }

    .meet__bradley_text2 {
        display: block;
        width: 300px;
        left: -85px;
        margin-left: 0px;
        top: 90px;
        font-weight: 300;
        font-size: 14px;
    }

    .meet__marie {
        top: 390px;
    }

    .meet__diana {
        top: 20px;
    }

    .meet__cristopher {
        top: 380px;
    }

    .meet__cristopher_text1 {
        display: block;
        width: 200px;
    }

    .edit-5 {
        top: 530px;
        margin-left: 60px;
    }

    .discover {
        width: 300px;
        height: 820px;
        margin-left: 10px;
    }

    .discover__h2 {
        top: -190px;
        display: block;
        width: 200px;
        margin-left: 50px;
    }

    .discover__sport {
        width: 300px;
        height: 120px;
        position: relative;
        top: -160px;
        margin-right: 30px;
    }

    .discover__sport_text {
        top: 30px;
        display: block;
        width: 200px;
        margin-left: 50px;
    }

    .discover__health {
        background-image: url(../pictures/Healath1.png);
        width: 300px;
        height: 120px;
        margin-left: 0px;
        top: -150px;
    }

    .discover__extreme {
        background-image: url(../pictures/Extreme1.png);
        top: -140px;
    }

    .discover__games {
        background-image: url(../pictures/Games1.png);
        top: -130px;
    }

    .discover__culture {
        background-image: url(../pictures/Culture1.png);
        width: 300px;
        height: 120px;
        margin-left: 0px;
        top: -120px;
    }

    .edit-11 {
        display: block;
        width: 300px;
        margin-left: 3px;
        position: relative;
        top: 35px;
    }

    .discover__enjoment {
        background-image: url(../pictures/Culture\ Copy1.png);
        top: -110px;
    }

    .discover__travel {
        background-image: url(../pictures/Games\ Copy1.png);
        top: -100px;
    }

    .search {
        width: 320px;
        height: 192px;
        top: 420px;
    }

    .search__h2 {
        top: 0px;
    }

    .edit-8 {
        top: 0px;
        font-weight: 300;
    }

    .input {
        margin-left: 10px;
        top: 0px;
    }

    .edit-9 {
        top: -50px;
        margin-left: 75px;
    }

    .footer {
        width: 320px;
        height: 234px;
        margin-left: 0px;
        top: 500px;
    }

    .footer__text {
        margin-left: 100px;
        top: 20px;
    }

    .footer__text2 {
        margin-left: 120px;
        top: 20px;
    }

    .edit-10 {
        position: relative;
        margin-left: 0px;
        top: 0px;
    }

    .li-1 {
        position: relative;
        margin-left: -190px;
        top: 10px;
    }

    .li-2 {
        position: relative;
        margin-left: -135px;
        top: -15px;
    }

    .li-3 {
        position: relative;
        margin-left: -70px;
        top: -41px;
    }

    .li-4 {
        position: relative;
        margin-left: -10px;
        top: -67px;
    }

    .li-5 {
        display: block;
        width: 150px;
        margin-left: -170px;
        position: relative;
        top: -67px;
    }

    .li-6 {
        margin-left: -35px;
        position: relative;
        top: -93px;
    }

    .footer__text3 {
        margin-left: 125px;
        top: 60px;
    }

    .footer__image {
        margin-left: 95px;
        top: 70px;
    }

    .footer__text4 {
        margin-left: 120px;
        top: 30px;
        font-weight: 600;
    }
}